<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Dashboard</title>
	<style type="text/css">
		body { font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-size: 12px; color: #fff; background: #000; }
		h1,h2,h3,h4,h5,h6 { color: #fff; font-weight: normal; }
		a { color: #ccc; text-decoration: none; font-weight: normal; }
		a:hover { color: #fff; }
		.section_title { margin: 15px 0 5px 10px; }
		.host { display: inline-block; background: #333; border: 1px solid #555; border-radius: 5px; padding: 8px; margin: 5px; }
		.host h2 { margin: 0 0 5px 0; text-shadow: 1px 1px 0px #000; }
		.host h2 a { visibility: hidden; }
		.host h2:hover a { visibility: visible; }
		.host.code-0 { background: #333; border-color: #555; }
		.host.code-1 { background: #611; border-color: #822; box-shadow: 0px 0px 15px #822; }
		.host.code-2 { background: #661; border-color: #882; box-shadow: 0px 0px 5px #882; }
		.service { display: inline-block; padding: 2px 5px; margin: 2px 2px; background: #3a3; border: 1px solid #6c6; color: #fff; border-radius: 5px; }
		.service.code-0 { background: #3a3; border-color: #6c6; color: #fff; }
		.service.code-1 { background: #f33; border-color: #f66; color: #fff; box-shadow: 0px 0px 5px #f66; }
		.service.code-2 { background: #ff3; border-color: #ff6; color: #222; box-shadow: 0px 0px 5px #ff6; }
	</style>
</head>
<body>

<div class="section">
	<h1 class="section_title">sites - all</h1>
	<div class="hosts">
		<div class="host code-0">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-1">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-1" title="Critical">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
			<span class="service code-1" title="Critical">Users</span>
			<span class="service code-2" title="Warning">Proc</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-0">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
		</div>
		<div class="host code-2">
			<h2>server-2.example.com <a href="#">&para;</a></h2>
			<span class="service code-2" title="Warning">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-2" title="Warning">HTTP</span>
			<span class="service code-2" title="Warning">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-2">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-2" title="Warning">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-1">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-1" title="Critical">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
		</div>
		<div class="host code-0">
			<h2>server-2.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-0">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
		</div>
	</div>
</div>
<div class="section">
	<h1 class="section_title">site2 - all</h1>
	<div class="hosts">
		<div class="host code-0">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
		</div>
		<div class="host code-1">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-1" title="Critical">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-2">
			<h2>server-2.example.com <a href="#">&para;</a></h2>
			<span class="service code-2" title="Warning">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-2" title="Warning">HTTP</span>
			<span class="service code-2" title="Warning">Disk</span>
		</div>
		<div class="host code-0">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-0">
			<h2>server-1.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
		</div>
		<div class="host code-0">
			<h2>example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
		</div>
		<div class="host code-0">
			<h2>server-2.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-0" title="Ok">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Load</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
		<div class="host code-2">
			<h2>my.example.com <a href="#">&para;</a></h2>
			<span class="service code-0" title="Ok">SSH</span>
			<span class="service code-0" title="Ok">Ping</span>
			<span class="service code-2" title="Warning">HTTP</span>
			<span class="service code-0" title="Ok">Disk</span>
			<span class="service code-0" title="Ok">Users</span>
			<span class="service code-0" title="Ok">Proc</span>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
<script type="text/javascript">
	function update() {
		console.log('updating...');
	}
	$(function(){
		update();
		setInterval(update, 30 * 1000); // update every 30 seconds
	});
</script>
</body>
</html>

<!--
{% for section in json %}
{% for group in groups %}
{% for host in hosts %}
{% for service in hostgroup %}

<div class="section">
	<h1 class="section_title">{{section.name}} - {{group.name}}</h1>
	<div class="hosts">
		<div class="host {{host.code}}">
			<h2>{{host.hostname}}</h2>
			<span class="service {{service.code}}" title="{{service.text}}">{{service.servicename}}</span>
		</div>
	</div>
</div>
-->
